h2{
    text-align: center;
    padding:20px;
}
p{
    font-size: x-large;
    color:black;
}
.button{
    color: red;
}

h3{
    text-align: center;
    padding:20px;
}


.form-group{
    padding: 10px;
}

.form-control{
    height: 20px;
    align-self: center;
}

h3{
    padding: 5px;
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.input{
    height: 20px;
}

.CardTitle{
    color: tomato;

}


.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px;color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}


