.btn-primary {
    background: #566fa2;
    border-color: #344d80;
}

.btn-large, .paging ul a, .round, .round ul a {
    font-weight: 700;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
}