footer {
    padding: 10px 0;
    background-color: white;
    color:black;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    font-size: 10px;
}

p{ 
  text-align: center;
}

.links{
   float: right;
}