header{
    max-width: 100%; 
    padding: 10px;
}

#index-navbar{
   background-color:yellow;
    max-width: 100%; 
    padding: 10px;
    position: relative;

}

#navbarSupportedContent{
  float:right;
}

#index-link{
  font-size: large;

}

@media (min-width: 800px) {
    .app{
      padding: 0 100px;
      margin-top:5vh;
      min-height: 90vh;
    }
  }